nav {
    display: flex;
    justify-content: space-between;
}

a{
    color: green;
}

ul{
    display: flex;
    width: 250px;
    justify-content: space-between;
}

ul a{
    text-decoration: none;
    margin-left: 15px;
}

ul a:hover{
    color: navy;
}